<!DOCTYPE html>
<html>
<head>
	<script src="angular.min.js"></script>
	<script src="gameLogic.js"></script>
  <script src = "jquery.min.js"></script>
  <link href = "bootstrap.min.css" rel = "stylesheet">
	<title> DB-Risk: The Game of Global Database Placement </title>
</head>

<body>


  <div ng-app="myApp" ng-controller="myCtrl">

    <div style=" float: left; width: 20%; ">
          <label >Please choose </label> <input type="text" ng-model="repCount" ng-change="change()" style="width:10%;"> <label> replicas</label> </br>
          <label >You chose <font color="red">{{chosenCount}}</font> </label> <label> replicas </label></br>
          <label >You need <font color="red">{{repCount-chosenCount}}</font> </label> <label> more replicas </label></br>

          <button type = "button" style="width:80%;" class = "btn btn-primary" ng-click="calculateLatency()" ng-disabled="repCount - chosenCount != 0">Calculate Latency</button> </br>

          <h4> Avg Read Latency: <span class="label label-default" style="color:red">{{avgReadLatency}}</span></h4>
          <h4> Avg Commit Latency: <span class="label label-default" style="color:red">{{avgCommitLatency}}</span></h4> </br>
          <div style="width: 32%; float: left;">
            <input  type="checkbox" ng-model="optimisticRead"> </br>
            <img style="width:100%;"src="img/optimisticread.png" alt="Optimitic Read" >
          </div>
          <div style="width: 32%; float: left;">
            <input  type="checkbox" ng-model="handoff"> </br>
            <img style="width:100%;" src="img/requesthandoff.png" alt="Request Handoff" >
          </div>
          <div style="width: 32%; float: left;">
            <input type="checkbox" ng-model="passiveReplica"> </br>
             <img style="width:100%;" src="img/passivereplica.png" alt="Passive Replica" >
          </div>
    </div>

    <div style="float: left; width: 80%;  position: relative; left: 0; top: 0;">
      <!-- World Map -->
      <img src="img/map.png" alt="worldmap" style="height: 100%; width: 100%; position: relative; left: 0; top: 0;">
      <div ng-repeat="pos in dcPos track by $index" style="position: absolute; left: {{pos.left}}; top: {{pos.top}};">
        <img src="img/storage.png" alt="storage"> 
        <img ng-repeat="i in getNumber(clients[$index]) track by $index" src="img/client.jpg" alt="client">
        <br/>
       <font color="red" style="float:right"><b>{{pos.name}}</b></font><input style="float:right" type="checkbox" ng-model="pos.selected" ng-disabled="pos.disabled" ng-click="change()"> <br>

      </div>
    </div>
    </br>
    <div style=" float: left; width: 100%;" name="rttTable" class="table-responsive">
      <center>
        <table class="table">
          <tr>
            <td></td>
            <td ng-repeat="pos in dcPos">
              <b>{{pos.name}}</b>
            </td>
          </tr>
          <tr ng-repeat="pos in dcPos">
            <td><b>{{pos.name}}</b></td>
            <td ng-repeat="pos1 in dcPos">
              {{rtt[pos.id][pos1.id]}}
            </td>
          </tr>
        </table>
      </center>
    </div>

    
  </div>


</body>
</html>